body * {
  font-family: 'Lato', sans-serif;
  /* background-color: grey; */
  /* box-sizing: border-box; */
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.card-name {
  /* grid-area: name;
  justify-content: center;
  align-self: flex-start; */
}

.card-field {
  /* grid-area: field;
  justify-content: center;
  align-self: flex-end */
}

.card-image {
  /* grid-area: image; */

  width: 100px;
  height: 100px;
}

.card-main-column {
  grid-area: main;

  display: flex;
}

.card-image-column {
  grid-area: image;
}

/*
.card {
    width: 150px;
    height: 100px;
    text-align: center;

    background: green;
    display: grid;
    grid-template-columns: .5fr .5fr 2fr .5fr .5fr;
    grid-template-rows: 50px 50px;
    grid-template-areas:
     'top-left name name name top-right'
     'bottom-left field field field bottom-right';

    margin: 10px;
    padding: 10px;
} */

.card {
  width: 300px;
  height: 100px;
  text-align: center;

  background: green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'image main main';

  margin: 10px;
}

.card-box {
  max-width: 600px;
  max-height: 300px;


}

.occurrence-table {
  /* width: 1000px; */
  background-color: white;
}

.recency-cell-container {
  width: 100%;
  height: 100%;
  background-color: '#dadada';
  border-radius: '2px';
}

.recency-cell-indicator {
  height: 100%;
  border-radius: 2px;
  transition: 'all .2s ease-out';
}
/* // row.value > 66 ? '#85cc00'
//           : row.value > 33 ? '#ffbf00'
//           : '#ff2e00',
// const color =  */
.fresh {
  background-color: #85cc00
}

.medium {
  background-color: #ffbf00;
}

.stale {
  background-color: #ff2e00;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 };
}

.tooltip {
  background-color: orange;
  color: white;
  /* border: 0px solid #4195fc; */
  /* border: #222 1px solid; */
  /* -webkit-box-shadow: 2px 5px 15px 1px rgba(0,0,0,0.95);
  -moz-box-shadow: 2px 5px 15px 1px rgba(0,0,0,0.95);
  box-shadow: 2px 5px 15px 1px rgba(0,0,0,0.95); */

  /* border: red 5px solid; */
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  /* box-shadow: 0 0 4px grey; */
  padding: 3px 5px;

  animation: fade-in .25s linear;
}

.tooltip::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  border-left: 8px solid orange;
  /* outline: #ff2e00 1px solid; */
  box-sizing: border-box;
  /* box-shadow: 0 0 4px grey; */

  left: 0px;
  bottom: -3.8px;

  /* Vertically center */
  /* left: -8px;
  top: 50%;
  transform: translateY(-50%) */
}

.modal {
  /* width: 50%;
  height: 50%;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%; */
  /* background: red */
}

.context-menu {
  position: absolute;
  /* background: rgba(255, 165, 0, 0.75); */
  border-radius: 2px;
  /* background: linear-gradient(to right, rgba(255, 165, 0, 0.75), rgba(255, 165, 0, 0.95)) ; */
  height: 100%;
  width: 100%;
  /* opacity: .5; */
}


.context-menu.show {
  opacity: 0.5;
}

.context-menu__content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.context-menu__container .button-container {
  display: flex;
  align-items: center;
  margin: 5px;
}

.context-menu__container {
  position: relative;
}

.context-menu__overlay {
  background: grey;
  opacity: 0.5;
}

.editable-cell {
  background-color: #fafafa;
  width: 100%;
  border: none;
  font-size: 16px;
}

.editable-cell:focus {
  outline: rgb(77, 144, 254) auto 1px;
}

/* 
.rt-tr.blur::after {
  content: '';
  background-color: rgba(0, 0, 0, .25);
  position: absolute;
  width: 100%;
  height: 100%;
} */

/*
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox
}
*/

.table {
  padding: 5px;
}

[role='row']:focus {
  background: linear-gradient(to right, rgba(255, 165, 0, 0.75), rgba(255, 165, 0, 0.95));
  outline: 0;
}