.button {
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  min-width: 100px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #2ca8f5;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #5bbae6;
}

.button--outline {
  color: #2ca8f5;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #2ca8f5 1px;
}

.button--outline:hover {
  color: #ffffff;
  background: #2ca8f5;
}