
.button {
  --main-background-color: #00BBFF;
  --hover-background-color: #00A3E5;
  --main-text-color: #ffffff;
  --hover-text-color: #ffffff;
}

.button--outline {
  --main-background-color: #ffffff;
  --hover-background-color: #00BBFF;
  --main-text-color: #00BBFF;
  --hover-text-color: #ffffff;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  min-width: 100px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 2px;
  border: none;
  font-family: Arial;
  color: var(--main-text-color);
  font-size: 15px;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;

  background: var(--main-background-color);
  /* color shift effect */
  /* background: linear-gradient(to right, var(--main-background-color) 50%, var(--hover-background-color) 50%); */
  /* background-size: 200% 100%; */
  /* transition: 0.5s; */
}

.button:disabled:disabled, .button--icon:disabled:disabled {
  background-color: rgba(0,0,0,.2);
  color: rgba(0,0,0,.5);
  cursor: not-allowed;
}

.button:hover {
  /* background-position: right center; */
  background: var(--hover-background-color);
}

.button--outline {
  color: var(--main-text-color);
  padding: 10px 20px 10px 20px;
  border: solid var(--hover-background-color) 1px;
  background: var(--main-background-color);
}

.button--outline:hover {
  color: var(--hover-text-color);
  background: var(--hover-background-color);
}

.button.slide-right {
  background: linear-gradient(to left, var(--main-background-color) 50%, var(--hover-background-color) 50%);
  background-position: right center;
  background-size: 200% 100%;
  transition: .3s ease-out;
}

.button.slide-right:hover {
  background-position: left center;
}

.button.slide-down {
  background: linear-gradient(to top, var(--main-background-color) 50%, var(--hover-background-color) 50%);
  background-position: bottom center;
  background-size: 100% 200%;
  transition: .3s ease-out;
}

.button.slide-down:hover {
  background-position: top center;
}



.button--icon {
  height: 25px;
  width: 25px;
  min-width: 25px;
  padding: 0;
}

.button--icon.remove {
  background-color: red;
}

.button--icon.add {
  background-color: limegreen;
}