.modal__container {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 25%;

  border-radius: 4px;
  padding: 5px;
  /* border-bottom-left-radius: 0; */
  /* border: 4px solid #4195fc; */

}

.modal.show::before {
  content: '';
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
}

.modal__container--basic {
  display: grid;
  grid-template-areas: 'header'
                        'body'
                        'footer';
  grid-template-rows: 50px auto 40px;
}

.modal__header--basic {
  box-sizing: border-box;
  background-color: #4195fc;
  /* height: 50px; */
  border-radius: 2.5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  padding: 5px;
  grid-area: header;
}

.modal__body--basic {
  box-sizing: border-box;
  background-color: #5786be;
  /* height: calc(100% - 50px); */
  border-radius: 2.5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  padding: 5px;
  margin: 5px 0;
  grid-area: body;
}

.modal__footer--basic {
  display: flex;
  flex-direction: column;
  justify-content: center;

  grid-area: footer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container .button:not(:nth-last-child(1)) {
  margin-right: 5px;
}
